@charset "UTF-8";

:root{
   --text-bold:#333; 
   --backgrond-body:#f8faf3;
   --cor-h1:#3a5a40;
   --back-bloco:#f0f7e6;
   --border-bloco:#d8eacc;
   --cor-texr-footer:#666; 
}

*{
   margin: 0;
   padding: 0;
   box-sizing:border-box ;
   font-family: 'Open Sans',Arial, Helvetica, sans-serif
}
body{
   background-color: var(--backgrond-body);
   color: var(--text-bold);
   
}
header{

   margin: 50px;
   text-align: center;
}
header h1{
   color: var(--cor-h1);
   font-size: 2em;
}
main{
   
 width: 100vw;
 max-width: 1200px;  
 margin: 0 auto; 
   
  
}
.container-1{
   display: flex;
   flex-wrap: wrap;
   width: 90%px;
   justify-content: center;
   
}
.bloco-1{
   display: block;
   border: 1px solid var(--border-bloco);
   background-color: var(--back-bloco);
   margin: 15px 30px;
   border-radius: 5px;
   width: 100%px;
   padding: 10px;
}
.bloco-1 h2{
   margin: 15px;
   color: var(--cor-h1);
   font-size: 1.5em;
}
.bloco-1 p{
   margin: 15px;
   font-size: 1em;
   line-height: 1.5em;
   margin-bottom: 30px;
}
.container-2{
   display: flex;
   flex-wrap: wrap;
   gap: 35px;
   justify-content: center;  
   
   margin-top: 10px;
}
.itens{
   border: 1px solid var(--border-bloco);
   background-color: var(--back-bloco);
   width: 40%;
   border-radius: 5px;
   padding: 10px;
  
   
}
.itens h3{
   color: var(--cor-h1);
   margin:30px 10px
}
.itens p{
   text-align: 1em;
   line-height: 2em;
   padding:0 10px;
}
.container-3{
   display: flex;
   flex-wrap: wrap;
   width: 90%px;
   justify-content: center;
   margin-top: 30px;
}
.nota{
   display: block;
   border: 1px solid var(--border-bloco);
   background-color: var(--back-bloco);
   margin: 15px 30px;
   border-radius: 5px;
   width: 100%px;
   padding: 10px;
   
}
.nota h3{
   color: var(--cor-h1);
   margin:30px 10px
}
.nota p{
   text-align: 1em;
   line-height: 2em;
   padding:0 10px;
   margin-bottom: 10px;
}
footer{
   margin-top: 30px;
   border-top:1px solid var(--border-bloco);
   text-align: center;
   padding: 40px;
}
footer p{
   font-size: 0.9em;
   color: var(--cor-texr-footer);
}
@media screen and (min-width:500px) and (max-width:768px) {
      .container-1{
         width: 768px;
   
      }
      .bloco-1{
         width: 90%;
      }
      .container-2{
         width: 768px;
      }
      .itens{
         
         width: 330px;
                 
      } 
      .container-3{
            
            width: 768px;
            
            
         }
         .nota{
            width: 320px;
        }
}       
@media screen and (min-width: 768px) {
         .container-1{
            display: flex;
            flex-wrap: wrap;
            width: 1200px;
            
            
         }
         .bloco-1{
            
            width:42%;
           
         }
         .container-2{
            width:1200px
         }
         .itens{
            border: 1px solid var(--border-bloco);
            background-color: var(--back-bloco);
            width: 20%;
           
                      
         }
         .container-3{
            display: flex;
            flex-wrap: wrap;
            width: 1200px;
}
         .nota{
             width:42%;
           
            
         }
   }

