
.cormorant-infant-<uniquifier> {
  font-family: "Cormorant Infant", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
/* Todos os elementos recebem margin e padding 0 */
/* box-sizing: tamanho=tamanho do conteúdo+bordas */
/* Fonte Heebo configurada em todos os elementos */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'cormorant infant', sans-serif;
}

/* Todo o conteúdo de body se limitará a 80% da página */
/* Margin sup/inf em 0 e automática nas bordas dir/esq*/
body{
    width: 80%;
    margin: 0 auto;
     background-image: linear-gradient(to right, #85A653, #D1D9B4);
   
}

/* Cria itens separados de menu, cada um ao centro com espaço de 25px em inf/sup */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/justify-content */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;
}

/* A logo estará em uma div com 150px de largura */
.navbar .logo{
    width: center;
}

/* A logo ocupará 100% da div */
.navbar .logo img{
    width: 100%;
}

/* A lista não terá pontos e cada item será um flex item */
.navbar .links ul{
    list-style-type: style one;;
    display: flex;
}

/* Cada item da lista terá uma margem a esquerda de 35px */
.navbar .links ul li{
    margin-left: 40px;
}

/* Os links não terão sublinhado e terão a cor cinza, fonte de tamanho 18px */
.navbar .links ul li a{
    text-decoration: none;
    color:#284005;
    font-size: 18px;
    justify-content: center;
}

/* Ao passar o mouse, a cor do texto é alterada */
.navbar .links ul li a:hover{
    color: #8C0962;
}

/* Todo o conteudo terá distância de 50px da parte inferior da tela */
/* Conteúdo em flex itens centralizados que ocupam 100% da tela */
.container{
    padding-top: 50px;
    display: flex;
    align-items: center;
    width: 100%;
    
}

/* Parte textual ocupa 50% do container */
.container .text{
    width: 100%;
}

/* Texto em h1 na div text terá 55px de tamanho e negrito 600 */
.container .text h1{
    font-size: 40px;
    font-weight: 600;
    text-align: left;
}

/* Texto selecionado por span no h1 terá negrito mais forte */
.container .text h1 span{
    font-weight: 400;
}

/* Parágrafo na div text ocupa 85% da largura, fonte de tamanho 17px */
/* Margin de 17px na parte inf/sup e de 0px em dir/esq */
/* Cor cinza */
.container .text p{
    width: 85%;
    font-size: 17px;
    margin: 25px 0;
    color: #284005;
    text-align: justify;
    border: #284005;
}

/* Configuração do botão com padding de 15px em inf/sup e 30px em dir/esq */
/* Tamanho da fonte em 20px, sem bordas, sem contorno, arredondando, com fundo vermelho*/
/* Texto branco, cursor normal e 0.2s de transição de cor */
.container .text button{
    padding: 15px 30px;
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 8px;
    background: #284005;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

/* Ao passar o mouse no botão, ele muda de cor */
.container .text button:hover{
    background: #8C0962;
}

/* A classe photo ocupa 50% da classe container */
.container .photo{
    width: 50%;
}

/* A imagem da direita terá 520px de largura*/
.container .photo img{
    width: 520px;
}