@charset "UTF-8";

:root{
    --cor00:#f5f5f5; /*cor do body*/
    --cor01:#333;/*cor do h1 e cor do a menu footer*/
    --cor02:#fef6e4;/*cor do background nav menu e cor do background do main-menu */
    --cor03:#f3d2c1;/*cor da border da nav menu e border do main-menu*/
    --cor04:#172c66;/*cor do menu lateral e rodape do block e ado main-menu*/
    --cor05:#001858;/*cor do a.active do main-menu */
    --cor06:#444;/*cor do h3 do block e h2*/
    --cor07:#666;/*cor do p do block*/
    --cor08:#0066cc;/*cor do a menu-vertical e cor do meta a*/
    --cor09:#e6f2ff;/*cor do a:hover do menu-vertical*/
    --cor10:white;/*cor do background do block*/
    --cor11:#ddd;/*cor da border do block*/
    --cor12:#888;/*cor do meta e footer p*/
    --cor13:#4d96ff;/*cor do like*/
    --cor14:#2d7dff;/*cor dop like hover*/
    --cor15:#e2f3f5;/*cor do background do menu footer*/
    --cor16:#a6e1fa;/*cor do border a footer e hover do a*/

    --font01: Arial, sans-serif; /* fonte do body , menu-vertical*/
    --font02: 'Georgia', serif; /*fonte do header h1, da logo, h3, h2*/
    --font03: 
    
}
*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;  
}
body{
    background-color: var(--cor00);
}
header{
   height: 150px;
   position: relative; 
}
.logo{
   background-color: var(--cor02);
   width: 130px;
   position: absolute;
   top: 30px;
   left: 30px; 
   border: 1px solid var(--cor03);
   border-radius: 5px;
  box-shadow: 2px 2px 2px rgb(129, 128, 128);
  transform: skewy(-2deg);
  cursor: pointer;

}
.logo:hover{
    background-color: var(--cor03);
    border: 1px solid var(--cor02);
    color:white;
}
.logo h1{
    font-size: 25px;
    text-align: center;
    padding: 5px;
    font-family: var(--font02);
    color:#333;
}
.logo p{
    text-align: center;
    padding: 5px;
    color: #333;
}
header h1{
    text-align: center;
    padding-top: 80px;
    color: #333;
    color: var(--font01);
    font-family: var(--font02);
}
nav.menu{
    background-color: var(--cor02);
    border: 1px solid var(--cor03);
    padding: 20px;
    margin: 0 20px;
    border-radius: 5px;
    text-align: center;

}
nav a{
   text-decoration: none; 
   margin-left: 20px;
   font: size 16px;
   padding: 10px 20px;
   border-radius: 5px;
   color: var(--cor01);
}
.normal:hover{
    background-color: var(--cor03);
    padding: 10px 20px;
}
nav .destaque{
    background-color: var(--cor13);
    font-weight: bold;
    background-color: none;
}
main{
   width: 1200px;
   margin: 20px auto 0 ;
   display: flex; 
}
.main-left{
    width: 250px;
    margin-right: 30px;
    flex-shrink: 0;
}
.coluna{
    border: 1px solid var(--cor11);
    background-color: white;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px  rgb(196, 194, 194);
}
.coluna a{
    display: block;
    padding: 10px ;
    margin: 10px;
    text-decoration: none;
    color:var(--cor14);
    font-size: 14px;
} 
.coluna a:hover{
    background-color: #a6e1fa;
    border-radius: 5px;
}
.coluna h3{
    margin: 10px;
    padding: 5px;
    text-align: left;
    font-family: var(--font01);
    color: #333;
}
.coluna p{
    margin: 10px;
    padding: 5px;
    text-align: justify;
    font: 14px;
    color: #333;
}
div.conteudo{
    display: inblock;
    
    margin: 0 auto;
  
    
    
}
.box{
    background-color: white;
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 15px;
	margin-bottom: 20px;
    box-shadow: 1px 1px 1px rgb(196, 194, 194) ;
    padding: 20px;
    height: auto;
    width: auto;
    
   
    
}
.box h3{
    font-family: 'Times New Roman', Times, serif
	font-size: 18px;
	color: #444;
	padding-bottom: 20px;
    padding: 10px;

}
.box p{
    margin-top: 20px;
    font-size: 14px;
	line-height: 1.5;
	color: #666;
    font-size: 14px;
    text-align: justify;
    inline-size: 1.5;
}
.marca{
    float: right;
    text-decoration: none;
    color:var(--cor08);
}
.marca:hover{
    font-size: 1.5em;
}
.meta{
   margin-top: 20px;
   font-size: 13px;

}
.meta span{
    color: var(--cor12);
    margin-right: 15px;
}
.meta a{
    text-decoration: none;
    color: var(--cor08);
    margin-right: 15px;
}
.meta a:hover{
    text-decoration: underline;
}
footer{
    margin-top:40px;
    font-size: 11px;

}
footer nav{
    text-align: center;
    background-color: none';
    
}
footer nav a{
    margin: 1px;
}
footer nav a:hover{
    background-color: var(--cor16);
}
.f{
    border: 1px solid var(--cor16);
    background-color: var(--cor15);
    padding: 5px 10px;
  
}
footer p{
    margin-top: 40px;
    margin-bottom: 30px;
    text-align: center;
    color: var(--cor07);
}



