@charset "UTF-8";

:root {
    /* ==============================
       CORES PRINCIPAIS
       ============================== */

    --verde-floresta: #243B20;
    --verde-oliva: #66723A;

    /* ==============================
       DOURADOS
       ============================== */

    --dourado: #B58A32;
    --dourado-claro: #D6B66A;

    /* ==============================
       FUNDOS
       ============================== */

    --creme: #F4E9D2;
    --marfim: #FBF7ED;

    /* ==============================
       TONS TERROSOS
       ============================== */

    --marrom-madeira: #684B2C;
    --marrom-escuro: #30271E;

    /* ==============================
       CORES DE INTERFACE
       ============================== */

    --branco: #FFFFFF;
    --borda: #D8C69B;

    /* ==============================
       ESTADOS
       ============================== */

    --hover: #8E6B28;
    --sucesso: #526B3A;
}